# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so

# Jupyter Notebooks
.ipynb_checkpoints/


# Data directories
data/

# Environment
venv/
.venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# fonts
fonts_heavy/
fonts_simple/